:root {
  --bg-color: #222629;
  --footer-bg-color: #212223;

  --light-grey-color: #cfcfcf;
  --accent-color-1: #70dc95;
  --accent-color-2: #5ba8f8;
  --accent-color-3: #f2eb96;
  --accent-color-4: #f7f301;

  --primary-font-color: #ffffff;
  --heading-font-color: #fee324;
}
