.log-in {
  display: flex;
  gap: 1rem;
  align-items: center;

  button {
    border: none;
    cursor: pointer;
    min-width: 7rem;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: var(--step-1);
    font-weight: 500;
    background-color: var(--accent-color-2);
    color: var(--primary-font-color);
    text-shadow: 1px 1px 1px #000;

    &:hover {
      background-color: var(--accent-color-4);
      color: var(--bg-color);
      text-shadow: none;
    }
  }
  .user-name {
    text-shadow: 1px 1px 1px #000;
    letter-spacing: 1px;
    font-size: var(--step-2);
  }
}
