.movie-teaser-card {
  width: 100%;
  aspect-ratio: 4 / 6;
  overflow: hidden;
  background-color: var(--footer-bg-color);

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    color: var(--accent-color-3);
  }

  &.has-no-poster {
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
  }

  .bookmark-icon {
    position: absolute;
    top: 0.7rem;
    right: 0.7rem;
    color: var(--accent-color-2);
    font-size: 3.25rem;
    z-index: 2;
  }

  .movie-teaser-card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .actions {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    justify-content: space-between;
    gap: 1rem;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.3);

    .rating {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      padding: 5px 10px;
      border-radius: 5px;
      color: var(--primary-font-color);
      background-color: var(--bg-color);
    }
  }
}
