.star {
  width: var(--step-2);
  height: var(--step-2);
  display: block;
  cursor: pointer;

  svg {
    stroke: var(--accent-color-4);
    &.full {
      fill: var(--accent-color-4);
    }
  }
}

/* test */
.star-button {
  background-color: transparent;
  border: none;
  outline: none;
  position: relative;

  &:disabled {
    cursor: not-allowed;
    svg {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
