.home-page {
  position: relative;
  height: 100dvh;

  .home-page__bg {
    object-fit: cover;
    object-position: top;
  }

  .home-page-content {
    position: absolute;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 100%;
    height: calc(100dvh - var(--header-height));
    /* dark glasmorphism bg color */
    background: rgba(0, 0, 0, 0.35);

    .left-container,
    .right-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      flex: 1;
      height: 100%;

      text-shadow: 1px 1px 1px var(--bg-color);
    }

    .left-container {
      padding-left: 1rem;
      align-items: flex-start;

      ul {
        list-style: none;

        li {
          margin-bottom: 5px;
        }
      }
    }

    .right-container {
      .popcorn-img {
        /* -webkit-filter: drop-shadow(5px 5px 5px #222);
        filter: drop-shadow(5px 5px 5px #222); */

        animation: pulse 4s infinite;
      }
    }
  }
}

@keyframes pulse {
  0% {
    scale: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
  }
  50% {
    scale: 1.05;
    -webkit-filter: drop-shadow(8px 8px 8px #444444);
    filter: drop-shadow(8px 8px 8px #444444);
  }
  100% {
    scale: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
  }
}

@media screen and (max-width: 768px) {
  .home-page-content {
    flex-direction: column;
  }
}
